
@import "node_modules/bulma/bulma";
@import "node_modules/font-awesome/scss/font-awesome";
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Ubuntu-Regular.ttf');
}

body{
	font-family: 'Ubuntu';
  background-image: url(img/background.jpg);
  background-blend-mode: difference;
  background-repeat: no-repeat;
  background-size: cover;
}

.centerall {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

//Bulma
$primary:#5d818cc4;

