html, body {
	/*background: url(../bg.jpg) no-repeat center center fixed; */
	background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

