<template>
    <div class="columns is-mobile">
        <div class="column is-full-tablet" style="min-width: 300px;">
        <div class="box">
            <div class="has-text-centered">
                <img src="img/logo.png" style="max-width: 290px;">
            </div>
        </div>
        <div class="has-text-centered">
            <h2 class="title has-text-white">@{{instruccion}}</h2>
        </div>
        <section class="login-option">
            <div class="field">
                <a class="button is-large is-link is-inverted is-outlined is-fullwidth" href="">
                    <img class="social-login-icon" src="img/social/google.png">Google
                </a>  
            </div>
        </section>
        <section class="login-option">
            <div class="field">
                <a class="button is-large is-link is-inverted  is-outlined is-fullwidth" href="">
                    <img class="social-login-icon" src="img/social/facebook.png">Facebook
                </a>    
            </div>
        </section>
        <section class="login-option">
            <div class="field">
                <a class="button is-large is-link is-inverted  is-outlined is-fullwidth" href="">
                    <i class="fa fa-wpforms fa-3 social-login-icon" aria-hidden="true"></i>Formulario
                </a>    
            </div>
        </section>

    </div>
</div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
