<template>
    <div class="columns is-mobile">
        <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="canCancelLoading"></b-loading>
        <div class="column is-full-tablet" style="min-width: 300px;">
            <div class="box">
                <div class="has-text-centered">
                    <img src="img/logo.png" style="max-width: 290px;">
                </div>
            </div>
            <div class="has-text-centered">
                <h2 class="title has-text-white">{{instruction}}</h2>
            </div>
            <loginOption v-for="method in loginOptions" @successfullConnecton="onSuccessfullConnection" v-bind:key="method.id" @event="handler" v-bind:method="method" />
        </div>
        <b-modal :active.sync="isFormModalActive" :width="400">
            <loginForm />
        </b-modal>
    </div>
</template>
<style lang="scss">
section.login-option{
  padding-top: 1.4em;
  padding-bottom: 1.4em;
}
</style>
<script>
import loginOption from './loginOption';
import apiConnector from '../common/apiConnector.js';
import loginForm from './loginForm'
import globalEvents from '../common/globalEvents.js';

export default {
    props:['instruction'],
    components:{
        loginOption,
        loginForm
    },
     data() {
            return {
                isFormModalActive: false,
                loginOptions:[],
                isLoading:false,
                isFullPage:true,
                canCancelLoading:false
            }
        },
        methods:{
            onSuccessfullConnection()
            {
                console.log('onSuccessfullConnection')
            },
            openModalForm()
            {
                this.isFormModalActive = true;
            },
            load(value = true)
            {
                this.isLoading = value
            },
            closeModalForm()
            {
                this.isFormModalActive= false;
            },
            handler(inpChosen){
                if(inpChosen.linkTo)
                {
                    this.$loading.open()
                    globalEvents.redirect(inpChosen.linkTo)
                }else if(inpChosen.action)
                {
                    this[inpChosen.action]();
                }
            },
            inputMail(){
                this.openModalForm()
            },
            fetchOptions()
            {
                return apiConnector.dispatchAction('login.options');
            } 
        },
         mounted() {
            this.load();
            this.fetchOptions().then((response)=>{
                this.load(false);
                this.loginOptions = response.data;
            });
           
      }
}
</script>
