<template>
	<form  v-on:submit.prevent="onSubmit(mail);" v-if="!loginSuccessful">
        <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title">Datos personales</p>
            </header>
            <section class="modal-card-body">
                <b-field>
                    <b-input
                        type="email"
                        size="is-medium"
                        v-model="mail"
                        placeholder="Mail"
                        icon-pack="fa"
                        icon="envelope"
                        required>
                    </b-input>
                </b-field>
                <!-- <b-checkbox>Remember me</b-checkbox> -->
            </section>
            <footer class="modal-card-foot">
                <button class="button is-link">Login</button>
                <button class="button" type="button" @click="$parent.close()">Cerrar</button>
            </footer>
        </div>
    </form>
</template>
<script type="text/javascript">
import apiConnector from '../common/apiConnector.js';
import globalEvents from '../common/globalEvents.js';
	export default {
  data() {
    return {
      mail:null,
      loginSuccessful:false,
      loading:null,
      snackbar:null
    };
  },
  methods: {
    onSubmit(mail) {        
        this.loading = this.$loading.open();
        apiConnector.dispatchAction('login.create',{mail:this.mail})
        .then((response)=>
        {   
            console.log(response.data.loginResult.login)
            if(response.data.loginResult.login)
            {
                this.loading.close();    
                globalEvents.successfulConnection();
                this.close();
            }else {
                throw new Exception;
            }
            
        }).catch((rejection)=>
        {
            this.snackbar && this.snackbar.close();
            this.loading.close();
            let errors = 'Hubo un error al intentar conectar';
            rejection = rejection.response;
            if(rejection.data && rejection.data.errors)
            {
                errors = Object.values(rejection.data.errors).join('. ');
            }
            else
            {
                errors ='Hubo un error al intentar conectar';
                this.close();
            }
            this.snackbar = this.$snackbar.open({
                message: errors,
                type: 'is-danger',
                position: 'is-top',
                //actionText: 'Reintentar',
                indefinite: true,
                onAction: () => {  
                }
            })
            
        })
    },
    close()
    {
        this.$parent.close();
        this.loginSuccessful = false;
    }
  }
};
</script>