<template>
    <section class="login-option">
        <div class="field">
            <a class="button is-large is-link is-inverted  is-outlined is-fullwidth" @click="triggerAction(method)">
                <i v-if="method.icon" class="fa fa-3 social-login-icon" :class="method.icon" aria-hidden="true"></i>
                <span>
                    {{method.name}}
                    <img v-if="method.img" class="social-login-icon" v-bind:src="method.img">
                </span>
            </a>    
        </div>
    </section>
</template>
<style lang="scss">
.social-login-icon{
    border-radius: 3px 26px 23px 3px;
    position: absolute;
    max-width: 57px;
    max-height: 52px;
    float: left;
    left: 0;
    top: 0;
}
.fa.social-login-icon{
    background: #5d818cc4;
    padding: 15px;
}
</style>
<script>
    export default {
        props:['method'],
        methods:{
            triggerAction(action){
                this.$parent.handler(action);
            }
        }
    }
</script>
