<template>
  <div class="centerall">
   <optionList :instruction="'Ingresar con'"/>
  </div>
</template>

<script>
import optionList from "./loginOptionList";
import globalEvents from "../common/globalEvents.js";
export default {
  name: "App",
  components: {
    optionList
  },
  methods:{
    mounted()
    {
       
    }
  }
};
</script>

<style lang="scss">
  @import "~bulma/sass/utilities/_all";
  @import "~bulma";
  @import "~buefy/src/scss/buefy";
</style>